.w3-light-grey{
    background-color: #D8C4B6!important;
}
 .w3-teal {
    background-color: #4F709C!important;
    color: #f2f2f2!important;
 }
 
 .w3-text-teal {
    color: #213555!important;
    }
.w3-white {
   background-color: #f2f2f2
}

